.singlePage .info{
    width: 100%;
    height: 100%;
}

.launch-wrapper{
    border-radius: 8px;
    border: 2px solid var(--border-color);
    margin-bottom: 32px;
    padding: 24px;
}

.launch-wrapper h2{
    font-size:32px;
    margin-bottom: 16px;
}
.launch-wrapper h3{
    font-size:20px;
    margin-bottom: 12px;
}

.launch-wrapper p{
    font-size:18px;
    line-height: 1.4;
    margin-bottom: 8px;
    font-weight: 500;
    letter-spacing: 0.3px;
}